.main_chat
  .main_header
    .main_header__left_box
      %p.main_header__left_box__group_name
        = @group.name
      %ul.main_header__left_box__member_list 
        Member：  
        %li
          - @members.each do |member|
            = member.name
    = link_to edit_group_path(@group), class: "main_header__right_box"do
      .main_header__right_box__Edit_btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .enter_message
        = f.text_field :body, class: 'enter_message__text_box', placeholder: 'type a message'
        = f.label :image, class: 'enter_message__attach_image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'enter_message__attach_image__hide'
      = f.submit 'Send', class: 'submit_btn'