.side_bar
  .side_header
    .side_header__box  
      %p.side_header__box__user_name
        = current_user.name
      %ul.side_header__box__action
        %li
          = link_to new_group_path, class:"side_header__box__action__create_group" do
            = icon('far', 'edit')
        %li
          = link_to edit_user_path(current_user), class:"side_header__box__action__edit_user" do
            = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__group_name
            = group.name
          %p.group__notification 
            = group.show_last_message
    